<div class="uk-child-width-1-3@s" uk-grid>
    <div class="uk-animation-toggle bod" tabindex="0" *ngFor="let chair of chaires">
        <div class="uk-card   uk-card-large uk-card-body uk-animation-shake">
          <h3 class="uk-card-title">Details for chair:  </h3>
            <h2 >{{ chair.id }}</h2>
            <p >{{ chair.username }}</p>
            <div class="example-button-row">
             <!-- <a mat-fab color="primary" href="#modal-sections" uk-toggle>Updating Chair </a>
              <a mat-fab color="warn"  href="#modal-delete" uk-toggle>Delete chair</a>-->
              <button class="btn btn1 btn-xs " href="#modal-sections" uk-toggle>Editing Chair</button>
              <button class="btn btn-default btn-xs" href="#modal-delete" uk-toggle uk-toggle>Delete chair</button>

              <div id="modal-delete" uk-modal>
                <div class="uk-modal-dialog">
                    <button class="uk-modal-close-default" type="button" uk-close></button>
                    <div class="uk-modal-header">
                        <h2 class="uk-modal-title">chair à supprimer</h2>
                    </div>
                    <div class="uk-modal-body">
                    confirmer votre suppresion !
                    <p>pour {{ chair.username }}</p>
                    <div class="uk-modal-footer uk-text-right">
                        <button class="btn btn-xs btn-default uk-modal-close" type="button">Cancel</button>
                        <button class="btn btn-xs btn-warning" (click)="deletChair(chair.id)" type="button" >delete</button>
                      </div>
                </div>
              </div>
              </div>
            </div>
          </div>
    </div>
  </div>


  <div id="modal-sections" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Informations à modifier</h2>
        </div>
        <div class="uk-modal-body">
          <form class="uk-form-stacked"  >
              <div class="uk-container">
                  <label class="uk-form-label">Nom Chair</label>
                  <div class="uk-margin">
                    <input
                      class="uk-input"
                      type="text"
                      placeholder="Some text..."
                      name="username"
                      [(ngModel)]="chaire.username"
                      minlength="4"
                      appForbiddenName="bob"
                      #username="ngModel"
                      ngModel
                      required
                    />
                    <div
                      *ngIf="username.invalid && (username.dirty || username.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="username?.errors.required">
                        Nom is required.
                      </div>
                      <div *ngIf="username?.errors.minlength">
                        Nom must be at least 4 characters long.
                      </div>
                      <div *ngIf="username?.errors.forbiddenName">
                        Nom cannot be Bob.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uk-container">
                  <label class="uk-form-label">password</label>
                  <div class="uk-margin">
                    <input
                      class="uk-input"
                      type="text"
                      placeholder="password"
                      name="password"
                      [(ngModel)]="chaire.password"
                      minlength="4"
                      appForbiddenName="bob"
                      #password="ngModel"
                      ngModel
                      required
                    />
                    <div
                      *ngIf="password.invalid && (password.dirty || password.touched)"
                      class="alert alert-danger"
                    >
                      <div *ngIf="password?.errors.required">
                        password is required.
                      </div>
                      <div *ngIf="password?.errors.minlength">
                          password must be at least 4 characters long.
                      </div>
                      <div *ngIf="password?.errors.forbiddenName">
                          password cannot be Bob.
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uk-container">
                  <label class="uk-form-label"></label>
                  <div class="uk-margin">
                    <button
                      class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom"
                      [disabled]="!f?.valid"
                      type="submit"
                    >
                      Save
                    </button>
                  </div>
                </div>
          </form>

        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
            <button class="uk-button uk-button-primary" type="button" >Save</button>
        </div>
    </div>
</div>
</div>

