<app-nav-bar></app-nav-bar>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/presentations']" role="tab" data-toggle="tab">List Des Presentations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/presentations/create']" role="tab" data-toggle="tab">Ajouter Presentation</a>
  </li>
</ul>
<div class="section-header">
  <h2>List Des Presentations</h2>
</div>
<section>
  <div>
    <div class="super_container">
      <div class="intro">
        <div class="intro_content d-flex flex-row flex-wrap align-items-start justify-content-between">
          <!-- Intro Item -->
          <div class="intro_item" *ngFor="let presentation of allPresentations ">
            <div class="container">
              <div>
                <a class="uk-navbar-right uk-button uk-button-text"
                  (click)="edit(presentation)"><strong>Modifier</strong></a>
              </div>
              <base href="/">
              <div class="intro_image"><img src="/assets/images/intro_2.jpg" alt=""></div>
              <div class="intro_body">
                <div class="intro_title"><a (click)="show(presentation)"> Presentation :
                    {{presentation.article== null?'':presentation.article.title}}</a>
                </div>
                <div class="intro_subtitle">
                  <a (click)="showConference(presentation.conference)" data-toggle="modal" data-target="#myModal1">Voir
                    conference</a>
                </div>
                <div class="intro_subtitle">
                  Chair : {{presentation.chair.username}}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!-- modal of the article view -->
<div *ngIf="article!=null">
  <div class="container">
    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h1 class="modal-title">Article:{{article.id}} Titre:{{article.title}}</h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <h3>{{article.domaine== null?'':article.domaine.name}}</h3>
            <p>{{article.resume}}
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- modal of confernce -->
<div *ngIf="conference!=null">
  <div class="container">
    <!-- The Modal -->
    <div class="modal" id="myModal1">
      <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h1 class="modal-title"> {{conference.nom== null?'':conference.nom}}</h1>
            <button type="button" class="close" data-dismiss="modal">×</button>
          </div>
          <!-- Modal body -->
          <div class="modal-body">
            <span style="position: relative;right: 50%; left:40%;"> {{conference.titrePresentation}}</span>
            <p>{{conference.detail}}</p>
            <p style="position: relative;right: 0; float:right;">{{conference.adresseConference}}</p>
          </div>
          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>