<app-nav-bar></app-nav-bar>
<div class="section-header">
  <h2>Administration</h2>
</div>
<div class="row " style="margin-left: 5%">
  <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match uk-animation-toggle tog1" uk-grid>
    <div class="uk-card uk-card-default uk-width-1-2@m togo  uk-card-hover">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <img class="uk-border-circle" width="112" height="112" src="./assets/images/conf1.jpg">
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">chair</h3>
            <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
          </div>
        </div>
      </div>
      <div class="uk-card-body">
        <h2>Gestion des Chairs</h2>
        <a routerLink="/chairList" class="uk-button uk-button-text link">Liste des chair</a>
        <a routerLink="/addChair" class="uk-button uk-button-text link1">Creer un Nouveau chair</a>
      </div>
    </div>

    <div class="uk-card uk-card-default uk-width-1-2@m togo  uk-card-hover">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <img class="uk-border-circle" width="112" height="112" src="./assets/images/conf2.jpg">
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">domaine</h3>
            <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
          </div>
        </div>
      </div>
      <div class="uk-card-body">
        <h2>Gestion des domaines</h2>
        <a routerLink="/domaineList" class="uk-button uk-button-text link">Liste des domaine</a>
        <a routerLink="/addDomaine" class="uk-button uk-button-text link1">Creer un nouveau domaine</a>
      </div>
    </div>
  </div>
</div>

<div class="row " style="margin-left: 5%">
  <div class="uk-child-width-1-2@m uk-grid-small uk-grid-match uk-animation-toggle tog1" uk-grid>
    <div class="uk-card uk-card-default uk-width-1-2@m togo  uk-card-hover">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <img class="uk-border-circle" width="112" height="112" src="./assets/images/conf3.jpg">
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">Jury</h3>
            <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
          </div>
        </div>
      </div>
      <div class="uk-card-body">
        <h2>Gestion des Jurys</h2>
        <a routerLink="/juryList" class="uk-button uk-button-text link">Liste des jury</a>
        <a routerLink="/addJury" class="uk-button uk-button-text link1">Creer un nouveau jury</a>
      </div>
    </div>
    <div class="uk-card uk-card-default uk-width-1-2@m togo uk-card-hover">
      <div class="uk-card-header">
        <div class="uk-grid-small uk-flex-middle" uk-grid>
          <div class="uk-width-auto">
            <img class="uk-border-circle" width="112" height="112" src="./assets/images/conf4.jpg">
          </div>
          <div class="uk-width-expand">
            <h3 class="uk-card-title uk-margin-remove-bottom">Reviewer</h3>
            <p class="uk-text-meta uk-margin-remove-top"><time datetime="2016-04-01T19:00">April 01, 2016</time></p>
          </div>
        </div>
      </div>
      <div class="uk-card-body">
        <h2>Gestion des Reviewers</h2>
        <a routerLink="/reviwerList" class="uk-button uk-button-text link">Liste des reviewer</a>
        <a routerLink="/addReviewer" class="uk-button uk-button-text link1">Creer un nouveau reviewer</a>
      </div>
    </div>
  </div>
</div>

<div id="modal-close-outside" class="uk-modal-full" uk-modal>
  <div class="uk-modal-dialog">
    <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
    <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
      <div class="uk-background-cover" style="background-image: url('assets/images/conf1.jpg');" uk-height-viewport>
      </div>
      <div class="uk-card uk-card-default uk-width-1-2@m">
        <div class="uk-card-header">
          <div class="uk-grid-small uk-flex-middle" uk-grid>
            <div class="uk-width-auto">
              <img class="uk-border-circle" width="200" height="200" src="">
            </div>
            <div class="uk-width-expand">
              <h3 class="uk-card-title uk-margin-remove-bottom">
                <h1>New Conference</h1>
              </h3>
              <p class="uk-text-meta uk-margin-remove-top">
                <iframe name="date du jour" id="date-du-jour" style="width:105px;height:75px;"
                  src="https://www.mathieuweb.fr/calendrier/date-jour-bleu2.html" scrolling="no" frameborder="0"
                  allowtransparency="true"></iframe>
              </p>
            </div>
          </div>
        </div>
        <div class="uk-card-body">
          <div class="uk-padding-large uk-card uk-card-default uk-card-large uk-card-body">
            <form class="uk-form-stacked" #f="ngForm" (ngSubmit)="saveChair(f.value)">
              <div class="uk-container">
                <label class="uk-form-label">Nom Chair</label>
                <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="Some text..." name="username"
                    [(ngModel)]="chaire.username" minlength="4" appForbiddenName="bob" #username="ngModel" ngModel
                    required />
                  <div *ngIf="username!=null">
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                      <div *ngIf="username.errors.required">
                        Nom is required.
                      </div>
                      <div *ngIf="username.errors.minlength">
                        Nom must be at least 4 characters long.
                      </div>
                      <div *ngIf="username.errors.forbiddenName">
                        Nom cannot be Bob.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="uk-container">
                <label class="uk-form-label">password</label>
                <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="password" name="password"
                    [(ngModel)]="chaire.password" minlength="4" appForbiddenName="bob" #password="ngModel" ngModel
                    required />
                  <div *ngIf="detail!=null">
                    <div *ngIf="detail.invalid && (detail.dirty || detail.touched)" class="alert alert-danger">
                      <div *ngIf="password.errors.required">
                        password is required.
                      </div>
                      <div *ngIf="password.errors.minlength">
                        password must be at least 4 characters long.
                      </div>
                      <div *ngIf="password.errors.forbiddenName">
                        password cannot be Bob.
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="uk-container">
                <label class="uk-form-label">role</label>
                <div class="uk-margin">
                  <input class="uk-input" type="text" placeholder="role" name="role" [(ngModel)]="chaire.role"
                    minlength="4" appForbiddenName="bob" #role="ngModel" ngModel required />
                  <div *ngIf="role!=null">
                    <div *ngIf="role.invalid && (role.dirty || role.touched)" class="alert alert-danger">
                      <div *ngIf="role.errors.required">
                        password is required.
                      </div>
                      <div *ngIf="role.errors.minlength">
                        password must be at least 4 characters long.
                      </div>
                      <div *ngIf="role.errors.forbiddenName">
                        password cannot be Bob.
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="uk-container">
                <label class="uk-form-label"></label>
                <div class="uk-margin">
                  <button class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom"
                    [disabled]="!f.valid" type="submit">
                    Save
                  </button>
                </div>
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>
<a routerLink="/addChair" routerLinkActive="active" type="button">Add Chair</a>
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <form class="uk-form-stacked" #f="ngForm" (ngSubmit)="saveConference(f.value)" >

            <div class="uk-container">
              <label class="uk-form-label" >Nom</label>
              <div class="uk-margin">
                <input class="uk-input"  type="text" placeholder="Some text..." name="nom" [(ngModel)]="conference.nom"   minlength="4" appForbiddenName="bob"
                       #nom="ngModel" ngModel required >
                  <div *ngIf="nom.invalid && (nom.dirty || nom.touched)"
class="alert alert-danger">

<div *ngIf="nom.errors.required">
Nom is required.
</div>
<div *ngIf="nom.errors.minlength">
Nom must be at least 4 characters long.
</div>
<div *ngIf="nom.errors.forbiddenName">
Nom cannot be Bob.
</div>
                </div>
              </div>
            </div>
            <div class="uk-container">
              <label class="uk-form-label" >adresseConference</label>
              <div class="uk-margin">
                <input class="uk-input"  type="text" placeholder="adresseConference" name="adresseConference" [(ngModel)]="conference.adresseConference"   minlength="4" appForbiddenName="bob"
                       #adresseConference="ngModel" ngModel required >
                       <div *ngIf="adresseConference.invalid && (adresseConference.dirty || adresseConference.touched)"
                       class="alert alert-danger">

                     <div *ngIf="adresseConference.errors.required">
                      adresse Conference is required.
                     </div>
                     <div *ngIf="adresseConference.errors.minlength">
                      adresse Conference must be at least 4 characters long.
                     </div>
                     <div *ngIf="adresseConference.errors.forbiddenName">
                      adresse Conference cannot be Bob.
                     </div>
                </div>
              </div>
            </div>
            <div class="uk-container">
              <label class="uk-form-label" >dateConference</label>
              <div class="uk-margin">
                <input class="uk-input"  type="date" placeholder="dateConference" name="dateConference" [(ngModel)]="conference.dateConference"   minlength="4" appForbiddenName="bob"
                       #dateConference="ngModel" ngModel required >
                       <div *ngIf="dateConference.invalid && (dateConference.dirty || dateConference.touched)"
                       class="alert alert-danger">

                     <div *ngIf="dateConference.errors.required">
                      date Conference is required.
                     </div>
                     <div *ngIf="dateConference.errors.minlength">
                      date Conference must be at least 4 characters long.
                     </div>
                     <div *ngIf="dateConference.errors.forbiddenName">
                      date Conference cannot be Bob.
                     </div>
                </div>
              </div>
            </div>
            <div class="uk-container">
              <label class="uk-form-label" >nombreEquipe</label>
              <div class="uk-margin">
                <input class="uk-input"  type="text" placeholder="nombreEquipe" name="nombreEquipe" [(ngModel)]="conference.nombreEquipe"   minlength="4" appForbiddenName="bob"
                       #nombreEquipe="ngModel" ngModel required >
                       <div *ngIf="nombreEquipe.invalid && (nombreEquipe.dirty || nombreEquipe.touched)"
                       class="alert alert-danger">
                     <div *ngIf="nombreEquipe.errors.required">
                      nombre Equipe is required.
                     </div>
                     <div *ngIf="nombreEquipe.errors.minlength">
                      nombre Equipe must be at least 4 characters long.
                     </div>
                     <div *ngIf="nombreEquipe.errors.forbiddenName">
                      nombre Equipe cannot be Bob.
                     </div>
                </div>
              </div>
            </div>
            <div class="uk-container">
              <label class="uk-form-label" >titrePresentation</label>
              <div class="uk-margin">
                <input class="uk-input"  type="text" placeholder="titrePresentation" name="titrePresentation" [(ngModel)]="conference.titrePresentation"   minlength="4" appForbiddenName="bob"
                       #titrePresentation="ngModel" ngModel required >
                       <div *ngIf="titrePresentation.invalid && (titrePresentation.dirty || titrePresentation.touched)"
                       class="alert alert-danger">
                     <div *ngIf="titrePresentation.errors.required">
                      titre Presentation is required.
                     </div>
                     <div *ngIf="titrePresentation.errors.minlength">
                      titre Presentation must be at least 4 characters long.
                     </div>
                     <div *ngIf="titrePresentation.errors.forbiddenName">
                      titre Presentation cannot be Bob.
                     </div>
                </div>
              </div>
            </div>
            <div class="uk-container">
              <label class="uk-form-label" >detail</label>
              <div class="uk-margin">
                <input class="uk-input"  type="text" placeholder="detail" name="detail" [(ngModel)]="conference.detail"   minlength="4" appForbiddenName="bob"
                       #detail="ngModel" ngModel required >
                       <div *ngIf="detail.invalid && (detail.dirty || detail.touched)"
                       class="alert alert-danger">
                     <div *ngIf="detail.errors.required">
                      detail is required.
                     </div>
                     <div *ngIf="detail.errors.minlength">
                      detail must be at least 4 characters long.
                     </div>
                     <div *ngIf="detail.errors.forbiddenName">
                      detail cannot be Bob.
                     </div>
                </div>
              </div>
            </div>
            <div class="uk-container">
              <label class="uk-form-label" ></label>
              <div class="uk-margin">
                <button  class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom" [disabled]="!f.valid" type="submit">Save</button>
              </div>
            </div>
          </form>
        </div>
  </div>
</div>

-->