<app-nav-bar></app-nav-bar>
<div class="section-header" >
    <h2>Liste des Jurys</h2>
  </div>
<div class="container">
<div class="row">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nom</th>
            <th scope="col">Actoins</th>
          </tr>
        </thead>
        <tbody *ngFor="let chair of chaires">
          <tr>
            <th scope="row">{{chair.id}}</th>
            <td>{{chair.name}}</td>
            <td><button class="btn btn1 btn-xs " href="#modal-sections" uk-toggle (click)="editChair(chair)">Modifier</button>
              <button class="btn btn-default btn-xs" href="#modal-delete" uk-toggle uk-toggle>Supprimer</button></td>
          </tr>
        </tbody>
      </table>
</div>
</div>


<div id="modal-sections" uk-modal>
  <div class="uk-modal-dialog">
      <button class="uk-modal-close-default" type="button" uk-close></button>
      <div class="uk-modal-header">
          <h2 class="uk-modal-title">Informations à modifier</h2>
      </div>
      <div class="uk-modal-body">
        <form class="uk-form-stacked"  >
            <div class="uk-container">
                <label class="uk-form-label">Name Domaine</label>
                <div class="uk-margin">
                  <input
                    class="uk-input"
                    type="text"
                    placeholder="Some text..."
                    name="username"
                    [(ngModel)]="chaire.name"
                    minlength="4"
                    appForbiddenName="bob"
                    #name="ngModel"
                    ngModel
                    required
                  />
                  <div
                    *ngIf="name.invalid && (name.dirty || name.touched)"
                    class="alert alert-danger"
                  >
                    <div *ngIf="name?.errors.required">
                      Nom is required.
                    </div>
                    <div *ngIf="name?.errors.minlength">
                      Nom must be at least 4 characters long.
                    </div>
                    <div *ngIf="name?.errors.forbiddenName">
                      Nom cannot be Bob.
                    </div>
                  </div>
                </div>
              </div>
              <div class="uk-container">
                <label class="uk-form-label"></label>
                <div class="uk-margin">
                  <button class="uk-width-1-1 uk-margin-small-bottom btn btn-secondary" type="button" (click)="updateChair()" >Save change</button>
                </div>
              </div>
        </form>

      <div class="uk-modal-footer uk-text-right">
          <button class="btn btn-default uk-modal-close" type="button">Cancel</button>
      </div>
  </div>
</div>
</div>

