<app-nav-bar></app-nav-bar>
<ul class="nav nav-tabs" role="tablist">
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/affectations']" role="tab" data-toggle="tab">List Des Affectations</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [routerLink]="['/affectations/create']" role="tab" data-toggle="tab">Ajouter Affectation</a>
  </li>
</ul>

<div *ngIf="affectationTopdate==null">
  <div class="section-header">
    <h2>Ajouter Affectation</h2>
  </div>
  <div *ngIf="jurys==null">

    <div class="super_container" style="background-color: grey">
      <div class="intro">
        <div class="intro_content d-flex flex-row flex-wrap align-items-start justify-content-between">
          <!-- Intro Item -->
          <div class="intro_item" *ngFor="let presentation of PresentationsNotSelected ">
            <div class="container">
              <base href="/">
              <!-- <div class="intro_image"><img src="/assets/images/intro_1.jpg" alt=""></div> -->
              <div class="intro_body" style="background-color: grey">
                <div class="intro_title"><a>
                    Presentation : {{presentation.id== null?'':presentation.id}}</a></div>
              </div>
              <div class="intro_subtitle">
                {{jury.lastName}}<br> Email:{{jury.email}}
              </div>
              <div>
                <a class="uk-navbar-right back-link uk-button uk-button-text"
                  (click)="ObjetSelected(presentation)"><strong>Choisi Presentation</strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="jurys!=null">
    <div class="super_container" style="background-color: grey">
      <div class="intro">
        <div class="intro_content d-flex flex-row flex-wrap align-items-start justify-content-between">
          <!-- Intro Item -->
          <div class="intro_item" *ngFor="let jury of jurys ">
            <div class="container">
              <base href="/">
              <!-- <div class="intro_image"><img src="/assets/images/intro_1.jpg" alt=""></div> -->
              <div class="intro_body" style="background-color: grey">
                <div class="intro_title"><a> Jury :
                    {{jury.firstName== null?'':jury.firstName}}</a></div>
              </div>
              <div class="intro_subtitle">
                {{jury.lastName}}<br> Email:{{jury.email}}
              </div>
              <div>
                <a class="uk-navbar-right back-link uk-button uk-button-text"
                  (click)="ObjetSelected(jury)"><strong>Choisi Jury</strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div *ngIf="affectationTopdate!=null ">
  <div class="section-header">
    <h2>Modifier Affectation</h2>
  </div>
  <div *ngIf="PresentationsNotSelected==null">
    <div class="section-header">
      <h2>List des affectations est vide</h2>
    </div>
  </div>
  <!-- partie update  -->
  <!-- partie presentation -->
  <div *ngIf="presentationToUpdate!=null || updateFinished==true" style="margin-left: 40%; ">
    <!-- <div class="super_container" style="background-color: grey">
      <div class="intro"> -->
    <div class="intro_content d-flex flex-row flex-wrap align-items-start justify-content-between">
      <!-- Intro Item -->
      <div class="intro_item">
        <h3>{{!updateFinished?'Modifier Presentation':' Presentation est Modifier'}} :
          {{presentationToUpdate.id}}</h3>
        <div class="container">
          <base href="/">
          <div class="intro_image"><img src="/assets/images/intro_4.jpg" alt=""></div>
          <div class="intro_body" style="background-color: grey">
            <div class="intro_title"><a>
                Presentation : {{presentationToUpdate.id== null?'':presentationToUpdate.id}}</a></div>
          </div>
          <div class="intro_subtitle">
            {{jury.lastName}}<br> Email:{{jury.email}}
          </div>
          <div>
            <div *ngIf="!updateFinished">
              <a class="uk-navbar-right back-link uk-button uk-button-text"
                (click)="ObjetSelected(presentation)"><strong>Choisi Presentation</strong></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- </div>
    </div> -->
  </div>
  <!-- partie jury -->
  <div *ngIf="juryToUpdate!=null && jurys==null || updateFinished==true" style="margin-left: 40%; ">
    <!-- <div class="super_container" style="background-color: grey">
      <div class="intro"> -->
    <div class="intro_content d-flex flex-row flex-wrap align-items-start justify-content-between">
      <div class="intro_item">
        <h3>{{updateFinished==false?'Modifier Jury':' Jury est Modifier'}} :
          {{juryToUpdate.id}}</h3>
        <div class="container">
          <base href="/">
          <div class="intro_image"><img src="/assets/images/intro_1.jpg" alt=""></div>
          <div class="intro_body">
            <div class="intro_title"><a> Jury :
                {{juryToUpdate.firstName== null?'':juryToUpdate.firstName}}</a></div>
          </div>
          <div class="intro_subtitle">
            {{juryToUpdate.lastName}}<br> Email:{{juryToUpdate.email}}
          </div>
          <div>
            <div *ngIf="!updateFinished">
              <a class="uk-navbar-right back-link uk-button uk-button-text"
                (click)="ObjetSelected(juryToUpdate)"><strong>Choisi Jury</strong></a>
            </div>
          </div>
        </div>
      </div>
      <!-- </div>
      </div> -->
    </div>

  </div>
  <!-- partie list presentation to update -->

  <div *ngIf="presentationToUpdate==null && juryToUpdate==null && jurys==null">
    <div class="super_container" style="background-color: grey">
      <div class="intro">
        <div class="intro_content d-flex flex-row flex-wrap align-items-start justify-content-between">
          <!-- Intro Item -->
          <div class="intro_item" *ngFor="let presentation of PresentationsNotSelected ">
            <div class="container">
              <base href="/">
              <!-- <div class="intro_image"><img src="/assets/images/intro_1.jpg" alt=""></div> -->
              <div class="intro_body">
                <div class="intro_title"><a> Jury :
                    Presentation : {{presentation.id== null?'':presentation.id}}</a></div>
              </div>
              <div>
                <a class="uk-navbar-right back-link uk-button uk-button-text"
                  (click)="updateObject(presentation)"><strong>Choisi ¨Presentation</strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- list des jurys  -->
  <div *ngIf="jurys!=null && updateFinished==false">
    <div class="super_container" style="background-color: grey">
      <div class="intro">
        <div class="intro_content d-flex flex-row flex-wrap align-items-start justify-content-between">
          <!-- Intro Item -->
          <div class="intro_item" *ngFor="let jury of jurys ">
            <div class="container">
              <base href="/">
              <!-- <div class="intro_image"><img src="/assets/images/intro_1.jpg" alt=""></div> -->
              <div class="intro_body">
                <div class="intro_title"><a> Jury :
                    {{jury.firstName== null?'':jury.firstName}}</a></div>
              </div>
              <div class="intro_subtitle">
                {{jury.lastName}}<br> Email:{{jury.email}}
              </div>
              <div>
                <a class="uk-navbar-right back-link uk-button uk-button-text"
                  (click)="updateObject(jury)"><strong>Choisi
                    Jury</strong></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>