<div class="title-aricle-list">
  <h2 *ngIf="!article.id" class="athelas ph3 ph0-l">Poster un nouveau Article</h2>
  <h2 *ngIf="article.id" class="athelas ph3 ph0-l">Modifier l'article</h2>
</div>
<div class="col col-md-12">
  <form class="uk-form-stacked">

    <div class="uk-container">
      <label class="uk-form-label">Titre</label>
      <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="Some text . . ." name="nom" [(ngModel)]="article.title"
          minlength="4" appForbiddenName="bob" #title="ngModel" ngModel required>
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          Titre non valid
        </div>
      </div>
    </div>



    <div class="uk-container">
      <label class="uk-form-label">resume</label>
      <div class="uk-margin">
        <textarea class="uk-textarea" rows=8 type="text" placeholder="resume . . ." name="resume" [(ngModel)]="article.resume"
          minlength="4" appForbiddenName="bob" #resume="ngModel" ngModel required></textarea>
        <div *ngIf="resume.invalid && ( resume.touched || resume.dirty)" class="uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          Resume non valid
        </div>
      </div>
    </div>

    <div class="uk-container">
      <label class="uk-form-label">Domaine</label>
      <div class="uk-margin">
        <select class="uk-select" name="domaine" [(ngModel)]="article.domaine">
          <option [ngValue]="domaine" *ngFor="let domaine of domaines" [selected]="article.id && (domaine.id===article.domaine.id)">{{domaine.name}}</option>
        </select>
      </div>
    </div>

    <div *ngIf="article.id" class="uk-container">
      <label class="uk-form-label">Importer l'article</label>
      <div class="uk-margin">
        <input type="file" class="uk-i" name="articlePdf" ng2FileSelect [uploader]="uploader" id="exampleInputFile" />
      </div>
    </div>


    <div class="uk-container">
      <div class="uk-margin form-inline">
        <a class="uk-button uk-button" (click)="navigateTo('articles')">Annuler</a>
        <a class="uk-button uk-button" (click)="create()">Save</a>
      </div>
    </div>
  </form>
</div>