<app-nav-bar></app-nav-bar>
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/articles']" role="tab" data-toggle="tab">List Des Articles</a>
    </li>
    <li class="nav-item" *ngIf="currentUserRole == 'ADMIN' || currentUserRole == 'AUTHOR'">
      <a class="nav-link" [routerLink]="['/articles/create']"role="tab" data-toggle="tab">Ajouter Article</a>
    </li>
  </ul>
<div class="title-aricle-list">
  <h2 *ngIf="!article.id" class="athelas ph3 ph0-l"><div class="section-header">
      <h2>Poster un Nouveau Articles</h2>
    </div></h2>
  <h2 *ngIf="article.id" class="athelas ph3 ph0-l"><div class="section-header">
      <h2>Modifier Article</h2>
    </div></h2>
</div>
<div class="col col-md-12">
  <form class="uk-form-stacked">

    <div class="uk-container">
      <label class="uk-form-label">Titre</label>
      <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="Some text . . ." name="nom" [(ngModel)]="article.title"
          minlength="4" appForbiddenName="bob" #title="ngModel" ngModel required>
        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          Titre non valid
        </div>
      </div>
    </div>
    <div class="uk-container">
      <label class="uk-form-label">resume</label>
      <div class="uk-margin">
        <textarea class="uk-textarea" rows=8 type="text" placeholder="resume . . ." name="resume"
          [(ngModel)]="article.resume" minlength="4" appForbiddenName="bob" #resume="ngModel" ngModel
          required></textarea>
        <div *ngIf="resume.invalid && ( resume.touched || resume.dirty)" class="uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          Resume non valid
        </div>
      </div>
    </div>
    <div class="uk-container">
      <label class="uk-form-label">Domaine</label>
      <div class="uk-margin">
        <select class="uk-select" name="domaine" [(ngModel)]="article.domaine">
          <option [ngValue]="domaine" *ngFor="let domaine of domaines"
            [selected]="article.id && (domaine.id===article.domaine.id)">{{domaine.name}}</option>
        </select>
      </div>
    </div>

    <div class="uk-container">
      <label *ngIf="article.id"  class="uk-form-label">Importer l'article</label>
      <label *ngIf="!article.id" class="uk-form-label">Importer une image</label>
      <div class="uk-margin">
        <input type="file" class="uk-i" name="articlePdf" ng2FileSelect [uploader]="uploader" id="exampleInputFile" />
      </div>
    </div>
    <div class="uk-container">
        <label class="uk-form-label"></label>
      <div class="uk-margin form-inline">
        <button class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom"
        (click)="create()">Save</button>
      </div>
    </div>
  </form>
</div>