<div class="col col-md-12">
  <form class="uk-form-stacked">

    <div class="uk-container">
      <label class="uk-form-label">Titre</label>
      <div class="uk-margin">
        <input class="uk-input" type="text" placeholder="Some text . . ." name="nom" [(ngModel)]="article.title"
          minlength="4" appForbiddenName="bob" #title="ngModel" ngModel required>
        <div *ngIf="title.invalid && ( title.touched) || (title.dirty)" class="uk-alert-primary" uk-alert>
          <a class="uk-alert-close" uk-close></a>

        </div>
      </div>
    </div>



    <div class="uk-container">
      <label class="uk-form-label">resume</label>
      <div class="uk-margin">
        <textarea class="uk-textarea" rows=8 type="text" placeholder="resume . . ." name="resume" [(ngModel)]="article.resume"
          minlength="4" appForbiddenName="bob" #resume="ngModel" ngModel required></textarea>
        <div *ngIf="resume.invalid && ( resume.touched) || (resume.dirty)" class="uk-alert-primary" uk-alert>
          <a class="uk-alert-close" uk-close></a>

        </div>
      </div>
    </div>

    <div class="uk-container">
      <label class="uk-form-label">Domaine</label>
      <div class="uk-margin">
        <select class="uk-select" name="domaine" [(ngModel)]="article.domaine">
          <option [ngValue]="domaine" *ngFor="let domaine of domaines">{{domaine.name}}</option>
        </select>
      </div>
    </div>




    <div class="uk-container">
      <label class="uk-form-label"></label>
      <div class="uk-margin">
        <button class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom" (click)="create()">Save</button>
      </div>
    </div>
    <a class="uk-button uk-button-text" (click)="navigateTo('articles')">Annuler</a>
  </form>
  <div class="form-group">
    <!-- <label for="exampleInputFile">Voulez-vous importer un fichier?</label>
                  <input type="file" name="photo" ng2FileSelect [uploader]="uploader" id="exampleInputFile" />
                </div>
                <button type="button" class="btn btn-default" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                  Importer
                </button> -->
    <button class=" icon-cog" style="display: inline-block;float: right;" data-toggle="modal" data-target="#mymodal"
      (click)="setArtile(article)"><i class="fa fa-upload"></i>upload</button>
    <div>
      <!-- <button class="btn btn-default form-control" (click)="create(title.value, resume.value)"> valider</button> -->
    </div>
    <!-- <div *ngFor="let article of articles">
                    <p>{{article.title}}</p>
                  </div> -->
  </div>
</div>

<div class="modal fade" id="mymodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Joindre un fichier</h4>
      </div>
      <div class="modal-body">
        <label for="exampleInputFile">Voulez-vous importer un fichier?</label>
        <input type="file" name="photo" ng2FileSelect [uploader]="uploader" id="exampleInputFile" />
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-default" (click)="uploader.uploadAll()">
          Importer
        </button>
      </div>
    </div>
  </div>
</div>