<form class="uk-form-stacked" #f="ngForm" (ngSubmit)="saveChair(f.value)">
  <div class="uk-container">
    <label class="uk-form-label">Nom Chair</label>
    <div class="uk-margin">
      <input
        class="uk-input"
        type="text"
        placeholder="Some text..."
        name="username"
        [(ngModel)]="chaire.name"
        minlength="4"
        appForbiddenName="bob"
        #name="ngModel"
        ngModel
        required
      />
      <div
        *ngIf="name.invalid && (name.dirty || name.touched)"
        class="alert alert-danger"
      >
        <div *ngIf="name?.errors.required">
          Nom is required.
        </div>
        <div *ngIf="name?.errors.minlength">
          Nom must be at least 4 characters long.
        </div>
        <div *ngIf="name?.errors.forbiddenName">
          Nom cannot be Bob.
        </div>
      </div>
    </div>
  </div>

  <div class="uk-container">
    <label class="uk-form-label"></label>
    <div class="uk-margin">
      <button
        class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom"
        [disabled]="!f.valid"
        type="submit"
      >
        Save
      </button>
    </div>
  </div>
</form>
