<header id="header" style="background-color: grey">
  <div>
    <div class="logo_container d-flex flex-row align-items-start justify-content-start">
      <base href="/">
      <div class="logo_image"><div><img src="/assets/images/logo.png" alt=""></div></div>
      <div class="logo_content">
        <div id="logo_text" class="logo_text logo_text_not_ie">Conference</div>
      </div>
      <nav id="nav-menu-container" style="margin-left: 10%">
          <ul class="nav-menu">
            <li class="menu-active" *ngIf="currentUser=='ADMIN'"><a [routerLink]="['/home']">Home</a></li>
            <li *ngIf="currentUser=='ADMIN' || currentUser=='AUTHOR' "><a [routerLink]="['/articles']"> Articles</a></li>
            <li *ngIf="currentUser=='ADMIN'"><a [routerLink]="['/affectations']">Affectations</a></li>
            <li *ngIf="currentUser=='ADMIN'"><a [routerLink]="['/admin']">Conference</a></li>
           <!-- <li *ngIf="currentUser=='ADMIN'"><a class="nav-link" role="tab" data-toggle="tab" href="#modal-full" uk-toggle>Create new conference</a></li>
-->
            <li *ngIf="currentUser=='ADMIN'"><a [routerLink]="['/presentations']">Presentations</a></li>
            <!-- <li *ngIf="currentUser=='ADMIN'"><a [routerLink]="['/juryList']">Jury</a></li>
            <li *ngIf="currentUser=='ADMIN'"><a [routerLink]="['/Auteur']">Auteurs</a></li>
            <li *ngIf="currentUser=='ADMIN'"><a [routerLink]="['/chairList']">Chair</a></li>
            <li *ngIf="currentUser=='ADMIN'"><a [routerLink]="['/reviwerList']">Reviwer</a></li>
            <li *ngIf="currentUser=='ADMIN'"><a [routerLink]="['/domaineList']">Domaine</a></li> -->
            <li *ngIf="currentUser=='ADMIN'"><a [routerLink]="['/administration']">Administration Des Utilisateur</a></li>
            <li class="buy-tickets" style="float: right;"><a (click)="onLogout()">Déconnection</a></li>
          </ul>
        </nav><!-- #nav-menu-container -->
    </div>
  </div>
</header>



<!--
<div id="modal-full" class="uk-modal-full" uk-modal>
    <div class="uk-modal-dialog">
      <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
      <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
        <div class="uk-background-cover" style="background-image: url('assets/images/conf1.jpg');" uk-height-viewport>
        </div>



        <div class="uk-card uk-card-default uk-width-1-2@m">
          <div class="uk-card-header">
            <div class="uk-grid-small uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <img class="uk-border-circle" width="200" height="200" src="">
              </div>
              <div class="uk-width-expand">
                <h3 class="uk-card-title uk-margin-remove-bottom">
                  <h1>New Conference</h1>
                </h3>
                <p class="uk-text-meta uk-margin-remove-top">
                  <iframe name="date du jour" id="date-du-jour" style="width:105px;height:75px;"
                    src="https://www.mathieuweb.fr/calendrier/date-jour-bleu2.html" scrolling="no" frameborder="0"
                    allowtransparency="true"></iframe>

                </p>
              </div>
            </div>
          </div>
          <div class="uk-card-body">



            <div class="uk-padding-large uk-card uk-card-default uk-card-large uk-card-body">

              <form class="uk-form-stacked" #f="ngForm" (ngSubmit)="saveConference(f.value)">

                <div class="uk-container">
                  <label class="uk-form-label">Nom</label>
                  <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Some text..." name="nom" [(ngModel)]="conference.nom"
                      minlength="4" appForbiddenName="bob" #nom="ngModel" ngModel required>
                    <div *ngIf="nom.invalid && (nom.dirty || nom.touched)" class="alert alert-danger">

                      <div *ngIf="nom?.errors.required">
                        Nom is required.
                      </div>
                      <div *ngIf="nom?.errors.minlength">
                        Nom must be at least 4 characters long.
                      </div>
                      <div *ngIf="nom?.errors.forbiddenName">
                        Nom cannot be Bob.
                      </div>
                    </div>
                  </div>
                </div>



                <div class="uk-container">
                  <label class="uk-form-label">adresseConference</label>
                  <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="adresseConference" name="adresseConference"
                      [(ngModel)]="conference.adresseConference" minlength="4" appForbiddenName="bob"
                      #adresseConference="ngModel" ngModel required>
                    <div *ngIf="adresseConference.invalid && (adresseConference.dirty || adresseConference.touched)"
                      class="alert alert-danger">

                      <div *ngIf="adresseConference?.errors.required">
                        adresse Conference is required.
                      </div>
                      <div *ngIf="adresseConference?.errors.minlength">
                        adresse Conference must be at least 4 characters long.
                      </div>
                      <div *ngIf="adresseConference?.errors.forbiddenName">
                        adresse Conference cannot be Bob.
                      </div>

                    </div>
                  </div>
                </div>

                <div class="uk-container">
                  <label class="uk-form-label">dateConference</label>
                  <div class="uk-margin">
                    <input class="uk-input" type="date" placeholder="dateConference" name="dateConference"
                      [(ngModel)]="conference.dateConference" minlength="4" appForbiddenName="bob"
                      #dateConference="ngModel" ngModel required>
                    <div *ngIf="dateConference.invalid && (dateConference.dirty || dateConference.touched)"
                      class="alert alert-danger">

                      <div *ngIf="dateConference?.errors.required">
                        date Conference is required.
                      </div>
                      <div *ngIf="dateConference?.errors.minlength">
                        date Conference must be at least 4 characters long.
                      </div>
                      <div *ngIf="dateConference?.errors.forbiddenName">
                        date Conference cannot be Bob.
                      </div>

                    </div>
                  </div>
                </div>

                <div class="uk-container">
                  <label class="uk-form-label">nombreEquipe</label>
                  <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="nombreEquipe" name="nombreEquipe"
                      [(ngModel)]="conference.nombreEquipe" minlength="4" appForbiddenName="bob" #nombreEquipe="ngModel"
                      ngModel required>
                    <div *ngIf="nombreEquipe.invalid && (nombreEquipe.dirty || nombreEquipe.touched)"
                      class="alert alert-danger">

                      <div *ngIf="nombreEquipe?.errors.required">
                        nombre Equipe is required.
                      </div>
                      <div *ngIf="nombreEquipe?.errors.minlength">
                        nombre Equipe must be at least 4 characters long.
                      </div>
                      <div *ngIf="nombreEquipe?.errors.forbiddenName">
                        nombre Equipe cannot be Bob.
                      </div>

                    </div>
                  </div>
                </div>

                <div class="uk-container">
                  <label class="uk-form-label">titrePresentation</label>
                  <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="titrePresentation" name="titrePresentation"
                      [(ngModel)]="conference.titrePresentation" minlength="4" appForbiddenName="bob"
                      #titrePresentation="ngModel" ngModel required>
                    <div *ngIf="titrePresentation.invalid && (titrePresentation.dirty || titrePresentation.touched)"
                      class="alert alert-danger">

                      <div *ngIf="titrePresentation?.errors.required">
                        titre Presentation is required.
                      </div>
                      <div *ngIf="titrePresentation?.errors.minlength">
                        titre Presentation must be at least 4 characters long.
                      </div>
                      <div *ngIf="titrePresentation?.errors.forbiddenName">
                        titre Presentation cannot be Bob.
                      </div>

                    </div>
                  </div>
                </div>

                <div class="uk-container">
                  <label class="uk-form-label">detail</label>
                  <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="detail" name="detail" [(ngModel)]="conference.detail"
                      minlength="4" appForbiddenName="bob" #detail="ngModel" ngModel required>
                    <div *ngIf="detail.invalid && (detail.dirty || detail.touched)" class="alert alert-danger">

                      <div *ngIf="detail?.errors.required">
                        detail is required.
                      </div>
                      <div *ngIf="detail?.errors.minlength">
                        detail must be at least 4 characters long.
                      </div>
                      <div *ngIf="detail?.errors.forbiddenName">
                        detail cannot be Bob.
                      </div>

                    </div>
                  </div>
                </div>
                <div class="uk-container">
                  <label class="uk-form-label"></label>
                  <div class="uk-margin">
                    <button class="uk-button uk-button-secondary uk-width-1-1 uk-margin-small-bottom"
                      [disabled]="!f.valid" type="submit">Save</button>
                  </div>
                </div>
                <a class="uk-button uk-button-text">Direct Login</a>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
-->
