<!-- <div class="title-aricle-list">
    <h2 class="athelas ph3 ph0-l">Liste des Article</h2>
    <a class="uk-navbar-left back-link" (click)="navigateTo('articles/create')">+ Poster un nouveau article</a>
    <div class="input-group" style="display: inline-flex;width: 94%;">
      <input #searchedTitle type="text" class="form-control" placeholder="Titre, Domaine ..."
        (keyup)="search(searchedTitle.value)">
      <div class="input-group-btn">
        <button class="btn btn-default" (click)="search(searchedTitle.value)">
          <i class="glyphicon glyphicon-search"></i>
        </button>
      </div>
    </div>
  </div> -->


<!-- <li class="article-list-article">
        <div class="article">
          <span class="article-category">
            {{article.domaine== null?'':article.domaine.name}}
          </span>
          <a class="uk-navbar-right back-link uk-button uk-button-text" (click)="edit(article)">modefier</a>
          <a class="article-list-article-link" (click)="show(article)">
            <p class="article-list-article-title">
              {{article.title}}
            </p>
            <p class="article-meta article-resume">
              {{article.resume.slice(0, 100)}}...
            </p>
          </a>
          <div class="uk-navbar-right back-link uk-button-text article-date">
            <span class="">
              Posté par <strong>{{currentUser}}</strong> le
              {{ article.postedAt | date:'yyyy-MM-dd à HH:mm'}}
            </span>
          </div>
        </div>
      </li> -->
<app-nav-bar></app-nav-bar>
<div>
  <div class="section-header">
    <h2>List Des Articles</h2>
  </div>
  <div class="uk-navbar-right input-group" style="display: inline-flex;width: 80%;padding-left: 20%">
    Rechercher :
    <input #searchedTitle type="text" class="form-control" placeholder="Titre, Domaine ..."
      (keyup)="search(searchedTitle.value)">
      <a class="uk-navbar-left" (click)="navigateTo('articles/create')">+ Poster un nouveau article</a>
  </div>
</div>
<div class="super_container">
  <div class="intro">
    <div class="intro_content d-flex flex-row flex-wrap align-items-start justify-content-between">
      <!-- Intro Item -->
      <div class="intro_item" *ngFor="let article of articles">
        <div class="container">
          <base href="/">
          <div class="intro_image"><img src="/assets/images/intro_4.jpg" alt=""></div>
          <a (click)="show(article)">
            <div class="intro_body">
              <div class="intro_title"><a>{{article.title}}</a></div>
              <div class="intro_subtitle"> {{article.domaine== null?'':article.domaine.name}}</div>
              <div class="intro_subtitle"> {{article.resume== null?'':article.resume.slice(0, 100)}}...</div>
            </div>
          </a>
          <div>
            <div class=" back-link uk-button-text article-date">
              <span class="">
                Posté par <strong>{{currentUser}}</strong> le
                {{ article.postedAt | date:'yyyy-MM-dd à HH:mm'}}
              </span>
            </div>
            <a class="uk-navbar-left back-link uk-button uk-button-text"
              (click)="edit(article)"><strong>Modifier</strong></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>