<app-nav-bar></app-nav-bar>
  <div class="title-aricle-list">
    <div class="athelas ph3 ph0-l"><div class="section-header">
        <h2>Détails de l'Article</h2>
      </div>
      <a class="uk-navbar-left" style="color:indianred" (click)="navigateTo('articles')">Liste des article</a></div>
  </div>
  <div class="article-list">
    <div class="article-list-article">
      <span class="article-category">
        {{article.domaine== null?'':article.domaine.name}}
      </span>
      <a *ngIf="currentUserType=='REVIEWER'" class="uk-navbar-right back-link uk-button uk-button-text" (click)="showReviews()">Review</a>
      <h2 class="article-list-article-title">
        {{article.title}}
      </h2>
      <p class="article-meta">
        {{article.resume}}
      </p>
    <div *ngIf="currentUserType =='AUTHOR' && article.status =='ACCEPTED'" style="position: relative; left: 0%; right: 20%;;bottom: 5%; top: 10%;">
      <button (click)="purchase()" class="btn btn-success form-control">Procéder au paiement</button>
    </div>
    </div>
  </div>
  <div *ngIf="isShowReviews" >
  <div class="title-aricle-list">
    <div *ngIf="article.status=='IN_IVALUATION'"  class="uk-margin">
      <ngb-rating [(rate)]="review.rate" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly">
        <ng-template let-fill="fill" let-index="index">
          <span class="editable-star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
        </ng-template>
      </ngb-rating>
      <input class="uk-input form-control review-input" type="text" placeholder="your review . . ." name="review" minlength="4" [(ngModel)]="review.view" (keydown.enter)="makeReview()">
    </div>
    <br><br>
  </div>
  <div *ngFor="let review of reviews " class="title-aricle-list">
    <div class="row">
      <span class="article-category">{{review.reviewer.username}}</span>
      <div class="uk-margin">
        <p>{{review.view}}</p>
        <ngb-rating [(rate)]="review.rate" [readonly]="true" (hover)="hovered=$event" (leave)="hovered=0" [readonly]="readonly">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3">&#9733;</span>
          </ng-template>
        </ngb-rating>
      </div>
    </div>
  </div>
</div>