<app-nav-bar></app-nav-bar>
<div class="col-sm-12 row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6 row">
      <input class="form-control in col-sm-10" type="text" [(ngModel)]="motCle" />
        <button class="uk-button uk-button-text col-sm-2" style="color: aqua;" (click)="chercher()">rechercher</button>
  </div>
</div>
<div class="uk-child-width-1-4@s uk-grid-match "   uk-grid >
    <div *ngFor="let conference of (pageConferences?.content| paginate: { itemsPerPage: 4, currentPage: pageActuel })" class="uk-animation-toggle car" style="margin-top: 40px;">


          <div class="card" style="width:400px">
              <img class="card-img-top" src="./assets/images/conf1.jpg" alt="Card image">
              <div class="card-body">
                  <h3 class="uk-card-title">Default</h3>
                  <p >{{conference.nom}}</p>
                  <p >{{conference.dateConference}}</p>
                  <p >{{conference.adresseConference}}</p>
                 <p uk-margin>
                    <button class="uk-button uk-button-text" (click)="showOne(conference.id)">Show this conference</button>
                  </p>
              </div>
            </div>

<!--
        <div id="modal-full2" class="uk-modal-full" uk-modal>
          <div class="uk-modal-dialog">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
              <div class="uk-background-cover" style="background-image: url('assets/images/conf3.jpg');" uk-height-viewport></div>
              <div class="uk-padding-large" *ngFor="let conference of conferences">
                <h1>Headline</h1>
                <p>{{conference.nom}}</p>
                <p>{{conference.nom}}</p>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>
    <pagination-controls (pageChange)="pageActuel = $event"></pagination-controls>

<!-- <div class="uk-child-width-1-4@s uk-grid-match " uk-grid>
  <div *ngFor="let conference of pageConferences | paginate: { itemsPerPage: 2, currentPage: pageActuel}"
    class="uk-animation-toggle" tabindex="0">
    <div class="uk-card-hover uk-card uk-card-secondary uk-card-body  uk-animation-scale-up">
      <h3 class="uk-card-title">Default</h3>
      <p>{{conference.nom}}</p>
      <p>{{conference.dateConference}}</p>
      <p>{{conference.adresseConference}}</p>
      <p uk-margin>
        <button mat-fab color="primary" (click)="showOne(conference.id)">Show this conference</button>
      </p>
      <div id="modal-full2" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog">
          <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
          <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
            <div class="uk-background-cover" style="background-image: url('assets/images/conf3.jpg');"
              uk-height-viewport></div>
            <div class="uk-padding-large" *ngFor="let conference of conferences">
              <h1>Headline</h1>
              <p>{{conference.nom}}</p>
              <p>{{conference.nom}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->

