<div>
  <input type="text" [(ngModel)]="motCle">
  <button (click)="chercher()" class="uk-button  uk-button-secondary">saersh conference</button>
</div>

<div class="uk-child-width-1-4@s uk-grid-match" uk-grid>
    <div *ngFor="let conference of conferences">
      <div class="uk-card uk-card-default uk-card-hover uk-card-body">
        <h3 class="uk-card-title">Default</h3>
        <p class="uk-label">{{conference.nom}}</p>
        <p class="uk-label">{{conference.id }}</p>
        <a   (click)="showOne(conference.id)" >Show it</a>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        <p uk-margin>


          <a class="uk-button uk-button-default" href="#modal-full2" uk-toggle>Open</a>

        </p>

        <div id="modal-full2" class="uk-modal-full" uk-modal>
          <div class="uk-modal-dialog">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-grid-collapse uk-child-width-1-2@s uk-flex-middle" uk-grid>
              <div class="uk-background-cover" style="background-image: url('assets/images/conf3.jpg');" uk-height-viewport></div>
              <div class="uk-padding-large" *ngFor="let conference of conferences">
                <h1>Headline</h1>
                <p>{{conference.nom}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <div>
      <ul>
        <li *ngFor="let p of pages">{{ p }}</li>
      </ul>
    </div>
